extends layout

block content
  h1= title
  p Welcome to #{title}
  
  script(type='text/javascript' src='/javascripts/jquery-3.1.0.min.js')
  script(type='text/javascript' src='/javascripts/materialize.min.js')
